@model List<TodoApp.Models.TodoItem>
    @*a modell megtartja a tipussagot*@

@{
    ViewBag.Title = "TodoList";
}

<h2>bolti lista</h2>

<ol>
    @foreach (var todoItem in Model)
    {
        if (todoItem.Done)
        {
            <li><strike>@todoItem.Name</strike></li>
        }
        else
        {
            <li>@todoItem.Name</li>
        }
    }
    

</ol>